/* Photo1 1 */
#Photo{
/* Photo1 1 */

/* Photo1 1 */

position: absolute;
width: 435px;
height: 379px;
left: 743px;
top: 69px;

background: url(Photo1.png);


}
/* Name : Priagung Satria Wicaksana Nickname : Pria NPM : 1806241160 Major : Bachelor of Computer Science, Faculty of Computer Science University : University of Indonesia Batch : 2018 Hobby : Doing random stuff, Playing games, music Description : Not a tryhard. */
#text{
position: absolute;
width: 746px;
height: 360px;
left: 743px;
top: 502px;

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 21px;

color: #FFFFFF;
}

